.login-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/assets/banner/bannerLogin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #001529 !important;
}

.ant-tabs-ink-bar {
    background-color: #001529 !important;
}
.login-register-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container .ant-input,
.form-container .ant-input-password {
    height: 40px;
    border-radius: 5px;
}

.form-container .ant-btn {
    height: 40px;
    border-radius: 5px;
    background-color: #001529;
    border: none;
}

.form-container .ant-btn:hover {
    background-color: #001529;
}

.forgot-password {
    margin-bottom: 20px;
    display: block;
    text-align: right;
}
